/* line 6, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }

/* line 8, ../../app/stylesheets/screen.sass */
body {
  width: 600px;
  margin: 100px auto;
  background: #ccc; }

/* line 13, ../../app/stylesheets/screen.sass */
h1 {
  float: left;
  margin: 0;
  color: #fff; }

/* line 18, ../../app/stylesheets/screen.sass */
#menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
  line-height: 3em; }
  /* line 5, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #menu {
    display: block; }
  /* line 50, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  #menu li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #menu li.first {
      padding-left: 0px; }
    /* line 42, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #menu li.last {
      padding-right: 0px; }
  /* line 22, ../../app/stylesheets/screen.sass */
  #menu a {
    text-decoration: none; }

/* line 25, ../../app/stylesheets/screen.sass */
#content {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em 1em;
  clear: both; }

/* line 33, ../../app/stylesheets/screen.sass */
ul.elections {
  list-style: none;
  margin: 0 2em;
  font-size: 2em; }
  /* line 37, ../../app/stylesheets/screen.sass */
  ul.elections li {
    position: relative;
    margin: 0.5em 0;
    background: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 0.5em; }
    /* line 43, ../../app/stylesheets/screen.sass */
    ul.elections li a {
      text-decoration: none; }
    /* line 46, ../../app/stylesheets/screen.sass */
    ul.elections li a.button {
      background: green;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      display: inline-block;
      color: #fff;
      padding: 0 0.25em;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0; }
      /* line 24, ../../app/stylesheets/partials/_base.sass */
      ul.elections li a.button:hover {
        background: #22a222; }
    /* line 53, ../../app/stylesheets/screen.sass */
    ul.elections li .buttons {
      position: absolute;
      right: 0;
      top: 0; }
      /* line 57, ../../app/stylesheets/screen.sass */
      ul.elections li .buttons a {
        background: green;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        display: inline-block;
        color: #fff;
        padding: 0 0.25em;
        margin: 0 0 0 0.25em; }
        /* line 24, ../../app/stylesheets/partials/_base.sass */
        ul.elections li .buttons a:hover {
          background: #22a222; }

/* line 62, ../../app/stylesheets/screen.sass */
#vote {
  width: 90%;
  margin: 1em auto 3em; }
  /* line 66, ../../app/stylesheets/screen.sass */
  #vote ul {
    height: 100%;
    float: left;
    margin: 0;
    font-size: 1.75em;
    list-style: none; }
    /* line 73, ../../app/stylesheets/screen.sass */
    #vote ul li {
      margin: 0 0 0.1em;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 0.25em; }
  /* line 79, ../../app/stylesheets/screen.sass */
  #vote ul#start, #vote ul#end {
    width: 40%;
    position: relative; }
    /* line 82, ../../app/stylesheets/screen.sass */
    #vote ul#start li, #vote ul#end li {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
  /* line 86, ../../app/stylesheets/screen.sass */
  #vote ul#start {
    margin-right: 10%;
    min-width: 5em;
    background: none;
    padding-bottom: 0.01em; }
    /* line 92, ../../app/stylesheets/screen.sass */
    #vote ul#start li {
      background: #ccc url(/images/icons/bullet_black.png) 95% center no-repeat;
      cursor: url(/images/cursors/grab.cur), default; }
  /* line 98, ../../app/stylesheets/screen.sass */
  #vote ul#end {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 1.5em;
    background: #eee; }
    /* line 102, ../../app/stylesheets/screen.sass */
    #vote ul#end li {
      background: #eee url(/images/icons/bullet_green.png) 95% center no-repeat;
      cursor: url(/images/cursors/grabbing.cur), default; }
    /* line 106, ../../app/stylesheets/screen.sass */
    #vote ul#end div#drop_message {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      background: #ccc;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1.5em;
      line-height: 1.5em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    /* line 118, ../../app/stylesheets/screen.sass */
    #vote ul#end.onDrag div#drop_message {
      background: green !important; }

/* line 123, ../../app/stylesheets/screen.sass */
form input#submit, form input#spoil {
  border: none;
  font-size: 2em;
  float: right;
  margin: 0 0 0.25em 0.5em; }
/* line 128, ../../app/stylesheets/screen.sass */
form input#submit {
  background: green;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  color: #fff;
  padding: 0 0.25em; }
  /* line 24, ../../app/stylesheets/partials/_base.sass */
  form input#submit:hover {
    background: #22a222; }
/* line 130, ../../app/stylesheets/screen.sass */
form input#spoil {
  background: red;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  color: #fff;
  padding: 0 0.25em; }
  /* line 24, ../../app/stylesheets/partials/_base.sass */
  form input#spoil:hover {
    background: #ff2222; }
/* line 132, ../../app/stylesheets/screen.sass */
form input.disabled {
  background: #ccc !important; }
/* line 134, ../../app/stylesheets/screen.sass */
form label {
  font-size: 2em; }

/* line 137, ../../app/stylesheets/screen.sass */
a.back {
  font-size: 2em;
  text-decoration: none; }
  /* line 140, ../../app/stylesheets/screen.sass */
  a.back:hover {
    text-decoration: underline; }
