/* line 6, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }

/* line 8, ../../app/stylesheets/screen.sass */
body {
  width: 600px;
  margin: 25px auto;
  background: #ccc; }

/* line 14, ../../app/stylesheets/screen.sass */
h1 a {
  float: left;
  margin: 0;
  color: #fff !important;
  text-decoration: none !important; }

/* line 20, ../../app/stylesheets/screen.sass */
#menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
  line-height: 3em; }
  /* line 5, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #menu {
    display: block; }
  /* line 50, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  #menu li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #menu li.first {
      padding-left: 0px; }
    /* line 42, ../../../../../../usr/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #menu li.last {
      padding-right: 0px; }
  /* line 24, ../../app/stylesheets/screen.sass */
  #menu a {
    text-decoration: none; }
    /* line 26, ../../app/stylesheets/screen.sass */
    #menu a#help {
      cursor: help; }

/* line 29, ../../app/stylesheets/screen.sass */
#content {
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0.5em 1em;
  clear: both;
  position: relative; }

/* line 38, ../../app/stylesheets/screen.sass */
ul.elections {
  list-style: none;
  margin: 0 2em;
  font-size: 2em; }
  /* line 42, ../../app/stylesheets/screen.sass */
  ul.elections li {
    position: relative;
    margin: 0.5em 0;
    background: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 0.5em; }
    /* line 48, ../../app/stylesheets/screen.sass */
    ul.elections li a {
      text-decoration: none; }
    /* line 51, ../../app/stylesheets/screen.sass */
    ul.elections li a.button {
      background: green;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      display: inline-block;
      color: white;
      padding: 0 0.25em;
      text-decoration: none;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0; }
      /* line 25, ../../app/stylesheets/partials/_base.sass */
      ul.elections li a.button:hover {
        background: #004d00; }
    /* line 58, ../../app/stylesheets/screen.sass */
    ul.elections li .buttons {
      position: absolute;
      right: 0;
      top: 0; }
      /* line 62, ../../app/stylesheets/screen.sass */
      ul.elections li .buttons a {
        background: green;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        display: inline-block;
        color: white;
        padding: 0 0.25em;
        text-decoration: none;
        margin: 0 0 0 0.25em; }
        /* line 25, ../../app/stylesheets/partials/_base.sass */
        ul.elections li .buttons a:hover {
          background: #004d00; }

/* line 67, ../../app/stylesheets/screen.sass */
#vote {
  width: 95%;
  margin: 1em auto 3em; }
  /* line 71, ../../app/stylesheets/screen.sass */
  #vote ul {
    height: 100%;
    float: left;
    margin: 0;
    font-size: 1.75em;
    list-style: none;
    padding-bottom: 1.5em; }
    /* line 78, ../../app/stylesheets/screen.sass */
    #vote ul li {
      margin: 0 0 0.1em;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0 0.25em;
      white-space: nowrap;
      overflow: hidden; }
      /* line 86, ../../app/stylesheets/screen.sass */
      #vote ul li .info {
        display: block;
        width: 1.5em;
        height: 1.5em;
        margin: 0 0 0 -0.25em;
        background: url(/images/icons/information.png) no-repeat center;
        top: 0;
        left: 0;
        float: left; }
  /* line 97, ../../app/stylesheets/screen.sass */
  #vote ul#start, #vote ul#end {
    width: 45%;
    position: relative; }
    /* line 101, ../../app/stylesheets/screen.sass */
    #vote ul#start li, #vote ul#end li {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      cursor: move; }
    /* line 105, ../../app/stylesheets/screen.sass */
    #vote ul#start div, #vote ul#end div {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      background: #ccc;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1.5em;
      line-height: 1.5em;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      cursor: default; }
    /* line 118, ../../app/stylesheets/screen.sass */
    #vote ul#start.noMessage, #vote ul#end.noMessage {
      padding-bottom: 0.001em; }
      /* line 120, ../../app/stylesheets/screen.sass */
      #vote ul#start.noMessage div, #vote ul#end.noMessage div {
        display: none; }
    /* line 123, ../../app/stylesheets/screen.sass */
    #vote ul#start.onDrag div, #vote ul#end.onDrag div {
      background: green !important; }
  /* line 127, ../../app/stylesheets/screen.sass */
  #vote ul#start {
    margin-right: 5%;
    min-width: 5em;
    background: none; }
    /* line 132, ../../app/stylesheets/screen.sass */
    #vote ul#start li {
      background: #ccc url(/images/icons/bullet_go.png) 95% center no-repeat; }
  /* line 138, ../../app/stylesheets/screen.sass */
  #vote ul#end {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee; }
    /* line 141, ../../app/stylesheets/screen.sass */
    #vote ul#end li {
      background: #eee url(/images/icons/tick.png) 95% center no-repeat; }
  /* line 146, ../../app/stylesheets/screen.sass */
  #vote.preferential h3 {
    float: left;
    width: 50%; }
  /* line 149, ../../app/stylesheets/screen.sass */
  #vote.preferential h4 {
    margin: 0; }

/* line 152, ../../app/stylesheets/screen.sass */
form ol {
  margin: 0;
  list-style: none; }
  /* line 155, ../../app/stylesheets/screen.sass */
  form ol li {
    margin: 0.5em 0;
    min-height: 2em; }
/* line 158, ../../app/stylesheets/screen.sass */
form fieldset {
  border: 1px solid gray;
  margin: 1em 0;
  padding: 0 1em 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 163, ../../app/stylesheets/screen.sass */
  form fieldset legend {
    font-size: 1.5em;
    padding: 0 0.25em; }
/* line 167, ../../app/stylesheets/screen.sass */
form input {
  min-height: 1em; }
  /* line 168, ../../app/stylesheets/screen.sass */
  form input#submit, form input#spoil {
    border: none;
    font-size: 2em;
    float: right;
    margin: 0 0 0.25em 0.5em;
    cursor: pointer; }
  /* line 174, ../../app/stylesheets/screen.sass */
  form input#submit {
    background: green;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    color: white;
    padding: 0 0.25em;
    text-decoration: none; }
    /* line 25, ../../app/stylesheets/partials/_base.sass */
    form input#submit:hover {
      background: #004d00; }
  /* line 176, ../../app/stylesheets/screen.sass */
  form input#spoil {
    background: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    color: red;
    padding: 0 0.25em;
    text-decoration: none; }
    /* line 25, ../../app/stylesheets/partials/_base.sass */
    form input#spoil:hover {
      color: #660000; }
  /* line 178, ../../app/stylesheets/screen.sass */
  form input.disabled {
    background: #ccc !important;
    color: #fff !important;
    cursor: not-allowed !important; }
/* line 183, ../../app/stylesheets/screen.sass */
form label {
  font-size: 2em; }

/* line 188, ../../app/stylesheets/screen.sass */
.new form fieldset li,
.edit form fieldset li {
  margin: 1em 0; }
/* line 191, ../../app/stylesheets/screen.sass */
.new form fieldset label,
.edit form fieldset label {
  font-size: 1.25em;
  width: 25%;
  padding: 0.1em;
  display: block;
  float: left; }
  /* line 197, ../../app/stylesheets/screen.sass */
  .new form fieldset label.remove,
  .edit form fieldset label.remove {
    float: none;
    display: inline;
    width: 5%;
    margin: 0 0 0 1em; }
  /* line 202, ../../app/stylesheets/screen.sass */
  .new form fieldset label em,
  .edit form fieldset label em {
    color: red; }
/* line 205, ../../app/stylesheets/screen.sass */
.new form fieldset fieldset,
.edit form fieldset fieldset {
  border: none;
  padding: 0; }
  /* line 208, ../../app/stylesheets/screen.sass */
  .new form fieldset fieldset input,
  .edit form fieldset fieldset input {
    float: left;
    clear: left; }
/* line 213, ../../app/stylesheets/screen.sass */
.new form fieldset #add_choice_link,
.edit form fieldset #add_choice_link {
  margin: 0 0 1.5em 25%;
  padding: 0.5em; }
/* line 218, ../../app/stylesheets/screen.sass */
.new form fieldset #choices label,
.edit form fieldset #choices label {
  clear: left; }

/* line 221, ../../app/stylesheets/screen.sass */
a.back {
  font-size: 2em;
  margin-top: -0.1em;
  background: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  color: blue;
  padding: 0 0.25em;
  text-decoration: none;
  text-decoration: none;
  float: left; }
  /* line 25, ../../app/stylesheets/partials/_base.sass */
  a.back:hover {
    color: #000066; }
  /* line 227, ../../app/stylesheets/screen.sass */
  a.back:hover {
    text-decoration: underline; }

/* line 231, ../../app/stylesheets/screen.sass */
.admin ul.elections {
  font-size: 1.5em; }
/* line 233, ../../app/stylesheets/screen.sass */
.admin a.new {
  background: green;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  color: white;
  padding: 0 0.25em;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 1.5em; }
  /* line 25, ../../app/stylesheets/partials/_base.sass */
  .admin a.new:hover {
    background: #004d00; }
/* line 240, ../../app/stylesheets/screen.sass */
.admin a.destroy {
  background: red !important; }

/* line 244, ../../app/stylesheets/screen.sass */
.results .bar {
  background: green;
  float: left;
  color: white;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0; }
  /* line 249, ../../app/stylesheets/screen.sass */
  .results .bar.spoil {
    background: red; }
