%table#prefresults
	%tr
		%th Choice
		- @ballot_scores.each_index do |idx|
			%th.prefcount= "Total #{(idx-1).ordinalize} Choices"
	-@election.choices.each do |choice|
		%tr
			%td=choice.text
			- @ballot_scores.each_index do |idx|
				%td.prefcount=@ballot_scores[idx][choice.id].to_s + " of " + @ballot_scores[idx].values.sum.to_s
%p= "(#{pluralize(@num_spoiled, "ballot")} spoiled)"
