-win_id = calculate_winner_preferential @election
-if win_id == :spoiled
	-@winner = :spoiled
-else
	-@winner = @election.choices.find(win_id)
%table#prefresults
	%tr
		%th Choice
		%th.prefcount Total First Choices
		%th.prefcount Total Second Choices
		%th.prefcount Total Third Choices
		%th.prefcount Total Fourth Choices
	-@election.choices.each do |choice|
		%tr
			%td=choice.text
			%td.prefcount=@first_ballots[choice.id].to_s + " of " + @first_ballots.values.sum.to_s
			%td.prefcount=@second_ballots[choice.id].to_s + " of " + @second_ballots.values.sum.to_s
			%td.prefcount=@third_ballots[choice.id].to_s + " of " + @third_ballots.values.sum.to_s
			%td.prefcount=@fourth_ballots[choice.id].to_s + " of " + @fourth_ballots.values.sum.to_s