%div#vote.regular
	- @choices.each do |choice|
		= radio_button(:vote_single, choice.id, choice.id, :class => 'box', :name => 'vote_single[choice_id]')
		= label(:vote_single, "#{choice.id}_#{choice.id}", choice.text)
		%br
