%h2 Available Elections

- @elections.each do |election|
	%ul.elections
		%li
			=link_to election.name, :action => 'vote', :id => election
			=link_to "Vote Now", {:action => 'vote', :id => election }, :class => 'button'
	

