%h2 Available Elections

- @elections.each do |election|
	-if election.active? #should be done via SQL in controller
		%ul.elections
			%li
				=link_to election.name, :action => 'vote', :id => election
				=link_to "Vote Now", {:action => 'vote', :id => election }, :class => 'button'

