%h2 Available Elections

- @elections.each do |election|
	%ul.elections
		%li
			=link_to election.name, :action => 'vote', :id => election
			=link_to "Vote Now", {:action => 'vote', :id => election }, :class => 'button'

-# TO DO:
	for active elections user has already voted in,
		gray them out
		put at bottom of list

