%h2 Welcome!

%p
	To vote, please log in to your 
	=link_to "Engineering Profile", "https://www.apsc.utoronto.ca/weblogin/main_vote.asp?Page=Main"
	, and then click on the 
	%strong Elections
	link.

